
/*<?php
header("Content-type: text/css; charset: UTF-8");

$bootstrap_stylesheet = file_get_contents(FCPATH.'project_base_assets/bootstrap/css/bootstrap.min.css');
$fa_stylesheet = file_get_contents(FCPATH.'project_base_assets/font-awesome-4.7.0/css/font-awesome.min.css');
$admin_lte_stylesheet = file_get_contents(FCPATH.'project_base_assets/dist/css/AdminLTE.min.css');
?>*/


/*@import url(<?php echo $bootstrap_stylesheet ?>);
@import url(<?php echo $fa_stylesheet ?>);
@import url(<?php echo $admin_lte_stylesheet ?>);*/

/*tried to load custom_invoice.css as custom_invoice.php  !!failed miserably!! */

/*this css is loaded for the invoice pdf*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}
